.recipe-container {
  align-items: center;
  background-color: #6E9CA5;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 500px;
}

.recipe-container .button {
  margin: 0.2rem;
}
