.form-container {
  align-items: center;
  background-color: #771200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
