#root {
  height: inherit;
}

.App {
  background-color: #001B24;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
}
