.header,
.footer {
  background-color: #0075A2;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 0 2rem;
  width: calc(100% - 4rem);
}

.header {
  align-items: flex-end;
}

.footer {
  align-items: center;
  color: white;
  height: 40px;
  font-size: 18px;
}

.footer a:visited {
  color: white;
}

.nav-container {
  padding: 0.5rem;
}

.nav-link {
  background-color: #E8B357;
  border: none;
  font-size: 18px;
  padding: 0.5rem;
  margin: 0 0.2rem;
}

.nav-link:focus {
  background-color: #001B24;
  color: white !important;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link:disabled {
  cursor: default;
}

.nav-link:visited {
  color: black;
}

a:link {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .header {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
